<html>
<head>
    <title>Edit Student Information</title>
   <link type="text/css" rel="stylesheet" href="/bootstrap/main.css" />
</head>


   <style type="text/css">
      body {
         background-image:  url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRZsQj-CiOn3Zm1rxdis3A1QSETp8q0_dexiCiSSVhO0nxRWdNQ);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

      }
    table{
        border: 2px solid white;
      }
    </style>
    <div id='cssmenu'>
        <ul>
            <li><a href="/"><span>Home</span></a></li>
            <li class='active has-sub'><a href='#'><span>Student</span></a>
                <ul>
                    <li class='has-sub'><a href="/student/create"><span>Create New</span></a></li>
                    <li class='has-sub'><a href="/student/list"><span>View All</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
    <h1 style="color:white;">Edit Student Information</h1>
    <body>
    
    {% for record  in student_list %}
    {% if record .key.id()==id %}
    
    <form method="POST" action="/student/edit/{{record.key.id()}}" >
    </div>

            <table width="80%" cellpadding="3" border="2" solid white" align="center" padding-bottom:5px">
                <tr>
                    <td width="20%" style="text-align:center; padding:5px; color:white;"><label>First Name</label></td>
                    <td width="20%" style="text-align:center; padding:5px; color:white;"><label>Last Name</label></td>
                    <td width="10%" style="text-align:center; padding:5px; color:white;"><label>Age</label></td>
                    <td width="25%" style="text-align:center; padding:5px; color:white;"><label>Email</label></td>
                    <td width="25"  style="text-align:center; padding:5px; color:white;"><label>Student Number</label></td>
                </tr>

                <tr>
                    <td><input value="{{record.first_name}}" type="text" name="first_name" class="input" style="width:100%;"></td>
                    <td><input value="{{record.last_name}}" type="text" name="last_name" class="input" style="width:100%;"></td>
                    <td><input value="{{record.age}}" type="text" name="age" class="input" style="width:100%;"></td>
                    <td><input value="{{record.email}}" type="email" name="email" class="input" style="width:100%;"></td>
                    <td><input value="{{record.student_number}}" type="text" name="student_number" class="input" style="width:100%;"></td>
                </tr>
            </table>
            <center>
            <input type="submit" value="Edit Credentials" size="40" style="padding: 10px; margin-top: 10px;">
            </center>
        </div>
    </form>

    {% endif %}          
    {% endfor %}


</body>
</html>
